<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Weather</title>
<link rel="icon" type="image/x-icon" href="icons/des.png">
  <link rel="stylesheet" href="main.css" />
  <link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Tangerine">
  <link href="https://fonts.cdnfonts.com/css/cannia" rel="stylesheet">
</head>

<body>
  <% if(locals.data){ %>
    <div class="page">
      <div class="w-ex-card">
        <div class="w-main-card">
              <form action="/submit" method="post">
                <div class = "searchbar">
                <input name="city_name" type="text" placeholder="Search..."  class="w-search-box" style="width:45%"/>
                <select id="countrySelect" name="country">
                  <option value="AF">Afghanistan</option>
                  <option value="AX">Åland Islands</option>
                  <option value="AL">Albania</option>
                  <option value="DZ">Algeria</option>
                  <option value="AS">American Samoa</option>
                  <option value="AD">Andorra</option>
                  <option value="AO">Angola</option>
                  <option value="AI">Anguilla</option>
                  <option value="AQ">Antarctica</option>
                  <option value="AG">Antigua and Barbuda</option>
                  <option value="AR">Argentina</option>
                  <option value="AM">Armenia</option>
                  <option value="AW">Aruba</option>
                  <option value="AU">Australia</option>
                  <option value="AT">Austria</option>
                  <option value="AZ">Azerbaijan</option>
                  <option value="BS">Bahamas</option>
                  <option value="BH">Bahrain</option>
                  <option value="BD">Bangladesh</option>
                  <option value="BB">Barbados</option>
                  <option value="BY">Belarus</option>
                  <option value="BE">Belgium</option>
                  <option value="BZ">Belize</option>
                  <option value="BJ">Benin</option>
                  <option value="BM">Bermuda</option>
                  <option value="BT">Bhutan</option>
                  <option value="BO">Bolivia</option>
                  <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                  <option value="BA">Bosnia and Herzegovina</option>
                  <option value="BW">Botswana</option>
                  <option value="BV">Bouvet Island</option>
                  <option value="BR">Brazil</option>
                  <option value="IO">British Indian Ocean Territory</option>
                  <option value="BN">Brunei</option>
                  <option value="BG">Bulgaria</option>
                  <option value="BF">Burkina Faso</option>
                  <option value="BI">Burundi</option>
                  <option value="KH">Cambodia</option>
                  <option value="CM">Cameroon</option>
                  <option value="CA">Canada</option>
                  <option value="CV">Cape Verde</option>
                  <option value="KY">Cayman Islands</option>
                  <option value="CF">Central African Republic</option>
                  <option value="TD">Chad</option>
                  <option value="CL">Chile</option>
                  <option value="CN">China</option>
                  <option value="CX">Christmas Island</option>
                  <option value="CC">Cocos (Keeling) Islands</option>
                  <option value="CO">Colombia</option>
                  <option value="KM">Comoros</option>
                  <option value="CG">Congo</option>
                  <option value="CD">Congo (DRC)</option>
                  <option value="CK">Cook Islands</option>
                  <option value="CR">Costa Rica</option>
                  <option value="CI">Côte d'Ivoire</option>
                  <option value="HR">Croatia</option>
                  <option value="CU">Cuba</option>
                  <option value="CW">Curaçao</option>
                  <option value="CY">Cyprus</option>
                  <option value="CZ">Czech Republic</option>
                  <option value="DK">Denmark</option>
                  <option value="DJ">Djibouti</option>
                  <option value="DM">Dominica</option>
                  <option value="DO">Dominican Republic</option>
                  <option value="EC">Ecuador</option>
                  <option value="EG">Egypt</option>
                  <option value="SV">El Salvador</option>
                  <option value="GQ">Equatorial Guinea</option>
                  <option value="ER">Eritrea</option>
                  <option value="EE">Estonia</option>
                  <option value="ET">Ethiopia</option>
                  <option value="FK">Falkland Islands (Malvinas)</option>
                  <option value="FO">Faroe Islands</option>
                  <option value="FJ">Fiji</option>
                  <option value="FI">Finland</option>
                  <option value="FR">France</option>
                  <option value="GF">French Guiana</option>
                  <option value="PF">French Polynesia</option>
                  <option value="TF">French Southern Territories</option>
                  <option value="GA">Gabon</option>
                  <option value="GM">Gambia</option>
                  <option value="GE">Georgia</option>
                  <option value="DE">Germany</option>
                  <option value="GH">Ghana</option>
                  <option value="GI">Gibraltar</option>
                  <option value="GR">Greece</option>
                  <option value="GL">Greenland</option>
                  <option value="GD">Grenada</option>
                  <option value="GP">Guadeloupe</option>
                  <option value="GU">Guam</option>
                  <option value="GT">Guatemala</option>
                  <option value="GG">Guernsey</option>
                  <option value="GN">Guinea</option>
                  <option value="GW">Guinea-Bissau</option>
                  <option value="GY">Guyana</option>
                  <option value="HT">Haiti</option>
                  <option value="HM">Heard Island and McDonald Islands</option>
                  <option value="VA">Holy See (Vatican City State)</option>
                  <option value="HN">Honduras</option>
                  <option value="HK">Hong Kong</option>
                  <option value="HU">Hungary</option>
                  <option value="IS">Iceland</option>
                  <option value="IN">India</option>
                  <option value="ID">Indonesia</option>
                  <option value="IR">Iran, Islamic Republic of</option>
                  <option value="IQ">Iraq</option>
                  <option value="IE">Ireland</option>
                  <option value="IM">Isle of Man</option>
                  <option value="IL">Israel</option>
                  <option value="IT">Italy</option>
                  <option value="JM">Jamaica</option>
                  <option value="JP">Japan</option>
                  <option value="JE">Jersey</option>
                  <option value="JO">Jordan</option>
                  <option value="KZ">Kazakhstan</option>
                  <option value="KE">Kenya</option>
                  <option value="KI">Kiribati</option>
                  <option value="KP">Korea, Democratic People's Republic of</option>
                  <option value="KR">Korea, Republic of</option>
                  <option value="KW">Kuwait</option>
                  <option value="KG">Kyrgyzstan</option>
                  <option value="LA">Lao People's Democratic Republic</option>
                  <option value="LV">Latvia</option>
                  <option value="LB">Lebanon</option>
                  <option value="LS">Lesotho</option>
                  <option value="LR">Liberia</option>
                  <option value="LY">Libya</option>
                  <option value="LI">Liechtenstein</option>
                  <option value="LT">Lithuania</option>
                  <option value="LU">Luxembourg</option>
                  <option value="MO">Macao</option>
                  <option value="MK">North Macedonia</option>
                  <option value="MG">Madagascar</option>
                  <option value="MW">Malawi</option>
                  <option value="MY">Malaysia</option>
                  <option value="MV">Maldives</option>
                  <option value="ML">Mali</option>
                  <option value="MT">Malta</option>
                  <option value="MH">Marshall Islands</option>
                  <option value="MQ">Martinique</option>
                  <option value="MR">Mauritania</option>
                  <option value="MU">Mauritius</option>
                  <option value="YT">Mayotte</option>
                  <option value="MX">Mexico</option>
                  <option value="FM">Micronesia, Federated States of</option>
                  <option value="MD">Moldova, Republic of</option>
                  <option value="MC">Monaco</option>
                  <option value="MN">Mongolia</option>
                  <option value="ME">Montenegro</option>
                  <option value="MS">Montserrat</option>
                  <option value="MA">Morocco</option>
                  <option value="MZ">Mozambique</option>
                  <option value="MM">Myanmar</option>
                  <option value="NA">Namibia</option>
                  <option value="NR">Nauru</option>
                  <option value="NP">Nepal</option>
                  <option value="NL">Netherlands</option>
                  <option value="NC">New Caledonia</option>
                  <option value="NZ">New Zealand</option>
                  <option value="NI">Nicaragua</option>
                  <option value="NE">Niger</option>
                  <option value="NG">Nigeria</option>
                  <option value="NU">Niue</option>
                  <option value="NF">Norfolk Island</option>
                  <option value="MP">Northern Mariana Islands</option>
                  <option value="NO">Norway</option>
                  <option value="OM">Oman</option>
                  <option value="PK">Pakistan</option>
                  <option value="PW">Palau</option>
                  <option value="PS">Palestine, State of</option>
                  <option value="PA">Panama</option>
                  <option value="PG">Papua New Guinea</option>
                  <option value="PY">Paraguay</option>
                  <option value="PE">Peru</option>
                  <option value="PH">Philippines</option>
                  <option value="PN">Pitcairn</option>
                  <option value="PL">Poland</option>
                  <option value="PT">Portugal</option>
                  <option value="PR">Puerto Rico</option>
                  <option value="QA">Qatar</option>
                  <option value="RE">Réunion</option>
                  <option value="RO">Romania</option>
                  <option value="RU">Russian Federation</option>
                  <option value="RW">Rwanda</option>
                  <option value="BL">Saint Barthélemy</option>
                  <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                  <option value="KN">Saint Kitts and Nevis</option>
                  <option value="LC">Saint Lucia</option>
                  <option value="MF">Saint Martin (French part)</option>
                  <option value="PM">Saint Pierre and Miquelon</option>
                  <option value="VC">Saint Vincent and the Grenadines</option>
                  <option value="WS">Samoa</option>
                  <option value="SM">San Marino</option>
                  <option value="ST">Sao Tome and Principe</option>
                  <option value="SA">Saudi Arabia</option>
                  <option value="SN">Senegal</option>
                  <option value="RS">Serbia</option>
                  <option value="SC">Seychelles</option>
                  <option value="SL">Sierra Leone</option>
                  <option value="SG">Singapore</option>
                  <option value="SX">Sint Maarten (Dutch part)</option>
                  <option value="SK">Slovakia</option>
                  <option value="SI">Slovenia</option>
                  <option value="SB">Solomon Islands</option>
                  <option value="SO">Somalia</option>
                  <option value="ZA">South Africa</option>
                  <option value="GS">South Georgia and the South Sandwich Islands</option>
                  <option value="SS">South Sudan</option>
                  <option value="ES">Spain</option>
                  <option value="LK">Sri Lanka</option>
                  <option value="SD">Sudan</option>
                  <option value="SR">Suriname</option>
                  <option value="SJ">Svalbard and Jan Mayen</option>
                  <option value="SZ">Eswatini</option>
                  <option value="SE">Sweden</option>
                  <option value="CH">Switzerland</option>
                  <option value="SY">Syrian Arab Republic</option>
                  <option value="TW">Taiwan</option>
                  <option value="TJ">Tajikistan</option>
                  <option value="TZ">Tanzania, United Republic of</option>
                  <option value="TH">Thailand</option>
                  <option value="TL">Timor-Leste</option>
                  <option value="TG">Togo</option>
                  <option value="TK">Tokelau</option>
                  <option value="TO">Tonga</option>
                  <option value="TT">Trinidad and Tobago</option>
                  <option value="TN">Tunisia</option>
                  <option value="TR">Turkey</option>
                  <option value="TM">Turkmenistan</option>
                  <option value="TC">Turks and Caicos Islands</option>
                  <option value="TV">Tuvalu</option>
                  <option value="UG">Uganda</option>
                  <option value="UA">Ukraine</option>
                  <option value="AE">United Arab Emirates</option>
                  <option value="GB">United Kingdom</option>
                  <option value="US" selected>United States</option>
                  <option value="UM">United States Minor Outlying Islands</option>
                  <option value="UY">Uruguay</option>
                  <option value="UZ">Uzbekistan</option>
                  <option value="VU">Vanuatu</option>
                  <option value="VE">Venezuela</option>
                  <option value="VN">Viet Nam</option>
                  <option value="VG">Virgin Islands, British</option>
                  <option value="VI">Virgin Islands, U.S.</option>
                  <option value="WF">Wallis and Futuna</option>
                  <option value="EH">Western Sahara</option>
                  <option value="YE">Yemen</option>
                  <option value="ZM">Zambia</option>
                  <option value="ZW">Zimbabwe</option>
              </select>
                <button type="submit" class ="searchicon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg></button>
              </div>
            

                <% if (err === 1){%>
                    <span class="error_msg">Enter a valid city name.❌</span>
                <%} %>

              </form>
              
            
            <div class="w-main-img">
              <% var src1 = "icons/"+icon_id+".png" %>
              <div>
                <img src=<%= src1 %> class="image_size">
              </div>
            </div>
            <div class="w-main-temp">
              <span><%= temp %>°</span>
            </div>
            <div class="w-main-date">
              <% var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
              var dayName = days[new Date().getDay()]; %>
              <p><%= dayName%>, <span class="w-main-time"><%= time %></span></p>
            </div>
            <hr>
            <div class="w-main-desc">
              <p><img src="icons/des.png" alt="#" class="des_img">  <%= description %></p>
            </div>
            <div class="w-main-rain">
            <% if(Object.keys(rain)[0] != "0"){
              for (const key in Object.keys(rain)) {%>
                <p><img src="icons/rain.png" alt="rain" class="des_img"> Rain <%= key %>: <%= rain[key] %> mm</p>
                <%}
            } else {%>
              <p style="font-weight: 100;"><img src="icons/rain.png" alt="rain" class="des_img"> Not likely to rain.</p>
              <%} %>
            </div>
            <div class="w-main-snow">
              <% if(Object.keys(snow)[0] != "0"){
              for (const key in Object.keys(snow)) {%>
                <p><img src="icons/snow.png" alt="snow" class="des_img"> Snow <%= key %>: <%= snow[key] %> mm</p>
                <%}
              } else {%>
              <p style="font-weight: 100;"><img src="icons/snow.png" alt="snow" class="des_img"> Not likely to snow.</p>
              <%} %>
            </div>
            <div class="w-main-loc-img">
              <h3 class="w-loc-text"><%= city %></h3>
            </div>
        </div>

        <div class="w-top-bar">
          <% var today = new Date();
          months =['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
              var dd = String(today.getDate()).padStart(2, '0');
              var mm = months[today.getMonth() + 1]; //January is 0!
              var yyyy = today.getFullYear();
              
              today = mm +" "+ dd + ' ' + yyyy; %>
          <h2><%= today %></h2>
    
        </div>
        <div class="w-five-days">
        
          <div class="w-day-today">
            <span>Today</span>
            <img src=<%= src1 %> class="w-day-image">
            <span><%= temp_max %> <span class="min-temp"><%= temp_min %></span> </span>
            
          </div>
          <% var j = 0; %>
          <% var alldays = [dayone, daytwo, daythree, dayfour, dayfive]; %>
          <% for(var i=0; i<5; i++){ %>
            <% var day = ((alldays[i])[j]).slice(0,3); %>
            <% var icon = ((alldays[i])[j+1]).slice(0,2); %>
            <% var min = Math.round(((alldays[i])[j+2]-273.15)*1.8 + 32) ;%>
            <% var max =  Math.round(((alldays[i])[j+3]-273.15)*1.8 + 32);%>
            <% var src2 = "icons/"+icon+"d.png" %>
            <div class="w-day-today">
              <span><%= day %></span>
              <img src=<%= src2 %> class="w-day-image">
              <span><%= max %> <span class="min-temp"><%= min %></span> </span>
              
            </div>
            <% } %>
          
          
        </div>
        <div class="w-highlights-heading">
          <h3>Today's Highlights</h3>
        </div>
        <div class="w-highlights-card one">
          <span class="card-head"><img src="icons/temperature.png" alt ="hey" class="himg"></img> Feels like</span>
            <p class="card-content"><%= feels_like %>°</p>
          <% if(feels_like < temp){ %>
          <span class="card-summary"> Wind is making it cooler <img src="icons/cooler.png" alt ="hey" class="himg"></span>
          <% } else {%>
            <span class="card-summary"> humidity is making it feel hot <img src="icons/hot.png" alt ="hey" class="himg"></span>
            <% } %>
        </div>
        <div class="w-highlights-card two">
          <div>
            <span class="card-head"><img src="icons/wind_status.png" alt ="hey" class="himg"> Wind status </span>
          </div>
          <div>
            <p class="card-content"><%= Math.round(wind) %> Km/h</p>
          </div>
          <div>
            <% degrees = (wind_dir % 360 + 360) % 360;
            let direction;
            switch (true) {
        case (degrees >= 337.5 || degrees < 22.5):
            direction = "North";
            break;
        case (degrees >= 22.5 && degrees < 67.5):
            direction = "North-East";
            break;
        case (degrees >= 67.5 && degrees < 112.5):
            direction = "East";
            break;
        case (degrees >= 112.5 && degrees < 157.5):
            direction = "South-East";
            break;
        case (degrees >= 157.5 && degrees < 202.5):
            direction = "South";
            break;
        case (degrees >= 202.5 && degrees < 247.5):
            direction = "South-West";
            break;
        case (degrees >= 247.5 && degrees < 292.5):
            direction = "West";
            break;
        case (degrees >= 292.5 && degrees < 337.5):
            direction = "North-West";
            break;
    } %>
    <span class="card-summary"><img src="icons/wind-direction.png" alt ="hey" class="himg"> Wind direction: <span class="card-head"><%= direction %></span></span>
          </div>
        </div>
        <div class="w-highlights-card three">
          <div>
            <span class="card-head"><img src="icons/sun.png" alt ="hey" class="himg"> Sunrise & Sunset</span>
          </div>
          <div>
            <% sunrise = new Date(sunrise * 1000).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' });
            sunset = new Date(sunset * 1000).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' });
            %>
            <p class="card-summary rise"><img src="icons/sunrise.png" alt="sunrise:" class="sun_img"> <%= sunrise %></p>
            <p class="card-summary rise"><img src="icons/sunset.png" alt="sunset:" class="sun_img"> <%= sunset %></p>
          </div>
        </div>
        <div class="w-highlights-card four">
          <div>
            <span class="card-head"><img src="icons/humidity.png" alt ="hey" class="himg"></img> Humidity</span>
          </div>
          <div>
            <p class="card-content"><%= humidity %>%</p>
          </div>
          <div>
            <span class="card-summary"> Pressure: <span class="card-head"><%= pressure %> hPa</span></span>
          </div>
        </div>
        <div class="w-highlights-card five">
          <div>
            <span class="card-head"><img src="icons/globe.png" alt ="hey" class="himg"> Visibility</span>
          </div>
          <div>
            <p class="card-content"><%= visibility/1000 %> Km</p>
          </div>
          <div>
            <% visibility = visibility/1000;
            var vision ="";
            switch (true) {
              case visibility >= 16:
                vision = "Excellent Visibility 👍";
                break;
              case visibility >= 8 && visibility <= 15:
                vision = "Good Visibility 👍";
                break;

              case visibility >= 3 && visibility < 8:
                vision = "Moderate Visibility.";
                break;

              case visibility >= 1.6 && visibility < 3:
              vision = "Reduced Visibility.";
              break;

              case visibility >= 0.8 && visibility < 1.6:
              vision = "Poor Visibility 👎";
              break;

              case visibility >= 0.4 && visibility < 0.8:
              vision = "Very Poor Visibility 👎";
              break;

              case visibility < 0.4:
              vision = "Near-Zero Visibility 👎";
              break;

              case visibility === 0:
              vision = "Zero Visibility.";
              break;

              default:
              vision = "Unknown Visibility Condition";
              break;

            } %>
            <div>
              <span class="card-summary"><%= vision %> </span>
            </div>
          </div>
        </div>
        <div class="w-highlights-card six">
          <div>
            <span class="card-head"><img src="icons/coordinates.png" alt ="hey" class="himg"></img> Coords</span>
          </div>
          <div>
            <p class="card-summary rise">Lon: <%= dimenstions[0] %></p>
            <p class="card-summary rise">Lat: <%= dimenstions[1] %></p>
          </div>
          <div>
            <% if(dimenstions[2]>0){ %>
              <span class="card-summary"> Time-zone: UTC + <span class="card-head"><%= String(Math.floor(Math.abs(dimenstions[2]) / 3600)).padStart(2, '0') %> : <%= String(Math.floor((Math.abs(dimenstions[2]) % 3600) / 60)).padStart(2, '0') %></span></span>
            <% }else{ %>
              <span class="card-summary"> Time-zone: UTC - <span class="card-head"><%= String(Math.floor(Math.abs(dimenstions[2]) / 3600)).padStart(2, '0') %> : <%= String(Math.floor((Math.abs(dimenstions[2]) % 3600) / 60)).padStart(2, '0') %></span></span>
            <% } %>
          </div>
        </div>

      </div>
    </div>
    <% } %>
      
</body>

</html>
